<div class="row mt-2">
  <div class="col px-0">
    <div class="card">
      <h3 class="card-header text-center font-weight-bold text-uppercase pt-3">{{planPeriod.year}}学年教学计划执行表
      </h3>
      <div class="card-body">
        <table mdbTable bordered="true">
          <thead class="black white-text">
          <tr>
            <th>序号</th>
            <th>实验室名称</th>
            <th>专业</th>
            <th>班级</th>
            <th>实验课程名称</th>
            <th>课程代码</th>
            <th>学时</th>
            <th>起止周</th>
            <th>开课学院</th>
            <th>校区</th>
            <th>实验课任课老师</th>
            <th>课程类别</th>
            <th>备注</th>
          </tr>
          </thead>
          <tbody>
          <tr mdbTableCol *ngFor="let each of teachPlans;let no=index">
            <th scope="row">{{no + 1}}</th>
            <td>{{each.labName}}</td>
            <td>{{each.expMajor}}</td>
            <td>{{each.labClass}}</td>
            <td>{{each.expCname}}</td>
            <td>{{each.courseId}}</td>
            <td>{{each.expTime}}</td>
            <td>{{each.coursePeriod}}</td>
            <td>{{each.courseCollege}}</td>
            <td>{{each.campus}}</td>
            <td>{{each.tname}}</td>
            <td>{{each.courseType}}</td>
            <td>{{each.labRemark}}</td>
          </tr>
          </tbody>
        </table>
        <button mdbBtn type="submit" gradient="blue" mdbWavesEffect (click)="download()">下载教学计划表
        </button>
      </div>
    </div>
  </div>

</div>
