<!-- 开关 -->

<div class="row">
    <label class="disabled font-weight-bold my-3 ml-4" *ngIf="!switch1">发布公告</label>

    <div class="col-1 mt-2">
        <input type="checkbox" [(ngModel)]="switch1" id="flag1">
        <label class="slider-v3 blue lighten-4" for="flag1"></label>
    </div>
    <div class="col my-3 ml-4">
        <label class="disabled font-weight-bold" *ngIf="switch1">发布竞赛通知</label>
    </div>

</div>

<!-- 填写通知 -->

<div class="row">
    <!-- 发布公告 -->
    <div class="col-4 m-auto animated fadeIn" *ngIf="!switch1">
        <div class="row m-3">
            <div class="col  px-0">
                <angular2-multiselect [data]="majorList" (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
                    [(ngModel)]="majorselectedItems" [settings]="majorSettings">
                    <c-item>
                        <ng-template let-item="item">
                            <label style="min-width: 60%;">{{item.itemName}}</label>
                        </ng-template>
                    </c-item>
                </angular2-multiselect>
            </div>
        </div>
        <div class="row m-3">
            <div class="col  px-0 my-3">
                <angular2-multiselect [data]="gradeList" (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
                    [(ngModel)]="gradeselectedItems" [settings]="gradeSettings">
                    <c-item>
                        <ng-template let-item="item">
                            <label style="min-width: 60%;min-height: 100%;">{{item.itemName}}</label>
                        </ng-template>
                    </c-item>
                </angular2-multiselect>
            </div>
        </div>
        <div class="row m-3">
            <div class="col  px-0 ">
                <angular2-multiselect [data]="classList" (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
                    [(ngModel)]="classselectedItems" [settings]="classSettings">
                    <c-item>
                        <ng-template let-item="item">
                            <label style="min-width: 60%;">{{item.itemName}}</label>
                        </ng-template>
                    </c-item>
                </angular2-multiselect>
            </div>
        </div>
    </div>
    <!-- 发布竞赛 -->
    <div class="col-4 m-auto animated fadeIn" *ngIf="switch1">
        <!-- 专业 -->
        <div class="row m-5">
            <div class="col  px-0">
                <angular2-multiselect [data]="majorList" (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
                    [(ngModel)]="majorselectedItems1" [settings]="majorSettings">
                    
                </angular2-multiselect>
            </div>
        </div>
        <!-- 日历 -->
        <div class="row m-5">
            <div class="col px-0 my-3">
                <div class="md-form font-weight-bold">
                    <mdb-icon far icon="calendar-alt" class="prefix text-black"></mdb-icon>
                    <input mdbInput type="text" id="form2" class="form-control" placeholder="年/月/日"
                        [owlDateTimeTrigger]="dt10" [owlDateTime]="dt10" [selectMode]="'range'">
                    <owl-date-time #dt10 [pickerType]="'calendar'" class="red"></owl-date-time>
                    <label for="form2">选择日期范围:(0点开始，0点结束)</label>
                </div>

            </div>
        </div>
    </div>
    <div class="col-6 mx-auto mb-2 animated fadeInRight">
        <div class="row cyan lighten-3 text-center mx-auto rounded-pill z-depth-2">
            <h4 class="mx-auto my-3" *ngIf="!switch1">请在下面输入公告的详情信息</h4>
            <h4 class="mx-auto my-3" *ngIf="switch1">请在下面输入竞赛的详情信息</h4>
        </div>
        <div class="row">
            <!--Textarea with icon prefix-->
            <div class="col z-depth-2 my-4">
                <div class="md-form">
                    <mdb-icon fas icon="pencil-alt" class="prefix "></mdb-icon>
                    <textarea type="text" id="form8" class="md-textarea form-control hight1" mdbInput></textarea>
                    <label for="form8" *ngIf="!switch1">请填写公告.....</label>
                    <label for="form8" *ngIf="switch1">请填写竞赛信息.....</label>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="row">
    <div class="col-4 mx-auto">
        <button mdbBtn type="button" color="success" block="true" (click)="onsubmit()" outline="true" class="rounded-pill" mdbWavesEffect>提交</button>
            
    </div>
</div>