<div class="row mt-5">
    <div class="col-5 my-auto animated fadeIn">
        <div class="row m-3">
            <div class="col-8 px-0 mx-auto mb-3">
                <angular2-multiselect [data]="majorList" (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
                    [(ngModel)]="majorselectedItems" [settings]="majorSettings">
                    <c-item>
                        <ng-template let-item="item">
                            <label style="min-width: 60%;">{{item.itemName}}</label>
                        </ng-template>
                    </c-item>
                </angular2-multiselect>
            </div>
        </div>
        <div class="row m-3 ">
            <div class="col-8 px-0 mb-3 mx-auto">
                <angular2-multiselect [data]="gradeList" (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
                    [(ngModel)]="gradeselectedItems" [settings]="gradeSettings">
                    <c-item>
                        <ng-template let-item="item">
                            <label style="min-width: 60%;min-height: 100%;">{{item.itemName}}</label>
                        </ng-template>
                    </c-item>
                </angular2-multiselect>
            </div>
        </div>
        <div class="row m-3">
            <div class="col-8 px-0 mx-auto mb-3">
                <angular2-multiselect [data]="classList" (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
                    [(ngModel)]="classselectedItems" [settings]="classSettings">
                    <c-item>
                        <ng-template let-item="item">
                            <label style="min-width: 60%;">{{item.itemName}}</label>
                        </ng-template>
                    </c-item>
                </angular2-multiselect>
            </div>
        </div>
        <div class="row m-3">
            <div class="col-8 px-0 mx-auto">
                <angular2-multiselect [data]="classList" (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
                    [(ngModel)]="classselectedItems" [settings]="classSettings">
                    <c-item>
                        <ng-template let-item="item">
                            <label style="min-width: 60%;">{{item.itemName}}</label>
                        </ng-template>
                    </c-item>
                </angular2-multiselect>
            </div>
        </div>
    </div>
    <div class="col-7 animated fadeIn">
        <div class="row">
            <div class="col-11 mx-auto mt-4 animated fadeInRight">
                <mdb-card cascade="true" narrower="true" class="z-depth-2">
                    <!--Card image-->
                    <div
                        class="view view-cascade gradient-card-header blue-gradient narrower z-depth-2 rounded-lg  py-2 m-3 mt-n3 text-center">
                        <div class="m-3">
                            <h4 class="white-text">请在下面上传您的文件！</h4>

                        </div>
                    </div>
                    <!--/Card image-->
                    <!-- 这里放上传文件表单 -->
                    <div class="row m-3 ">
                        <div class="col-5 m-3" *ngFor="let fi of fileInputName">
                            <ng2-file-input [drop-text]="fi"></ng2-file-input>
                        </div>

                    </div>

                </mdb-card>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>
<div class="row">
    <div class="col-4 mx-auto mt-4">
        <button mdbBtn type="button" color="success" block="true" outline="true" (click)="onsubmit()"
            class="rounded-pill" mdbWavesEffect>提交</button>

    </div>
</div>