<!--Section heading-->

<div class="row animated fadeInRight">

  <!--Grid column-->
  <div class="col-lg-5 mt-5 mx-auto">
    <mdb-card cascade="true" narrower="true">
      <!--Card image-->
      <div
        class="view view-cascade gradient-card-header peach-gradient narrower z-depth-2 rounded-lg  py-2 m-3 mt-n4 text-center">
        <div class="m-3">
          <h4 class="white-text">修改密码</h4>

        </div>
      </div>
      <!--/Card image-->
      <mdb-card-body>
        <!--Body-->
        <div class="md-form">
          <mdb-icon fas icon="key" class="prefix grey-text"></mdb-icon>
          <input mdbInput type="password" id="form3" class="form-control" [(ngModel)]="oldPw">
          <label for="form3">原始密码</label>
          <mdb-error *ngIf="isclick&&oldPw==''" class="mt-0">请输入原密码
          </mdb-error>
        </div>

        <div class="md-form">
          <mdb-icon fas icon="key" class="prefix blue-text"></mdb-icon>
          <input mdbInput type="password" id="form2" class="form-control" [(ngModel)]="newPw">
          <label for="form2">新密码(6-15个字符)</label>
        </div>

        <div class="md-form">
          <mdb-icon fas icon="key" class="prefix"></mdb-icon>
          <input mdbInput type="password" id="form32" class="form-control" [(ngModel)]="newPw1">
          <label for="form34">确认新密码</label>
          <mdb-error *ngIf="isclick&&newPw!=newPw" class="mt-0">两次输入密码不相同
          </mdb-error>
        </div>
        <!-- Regular usage -->
        <!-- <re-captcha (resolved)="resolved($event)" siteKey="YOUR_SITE_KEY"></re-captcha> -->


        <div class="text-center">
          <button mdbBtn class="btn peach-gradient" mdbWavesEffect (click)="updatePassword();">确定</button>
        </div>

      </mdb-card-body>

    </mdb-card>
    <!--Form with header-->
    <mdb-card>


    </mdb-card>
    <!--Form with header-->

  </div>
  <!--Grid column-->
</div>
<div mdbModal #demoBasic2="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p *ngIf="case1==-1" class="heading">原密码输入错误</p>
        <p *ngIf="case1==0" class="heading">修改失败</p>
        <p *ngIf="case1==2" class="heading">意料之外的错误</p>
      </div>
      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="danger" outline="true" class="waves-light" mdbWavesEffect data-dismiss="modal"
          (click)="demoBasic2.hide()">确定</a>
      </div>
      <strong>若一直修改不了请联系管理员</strong>
    </div>
    <!--/.Content-->
  </div>
</div>
<div mdbModal #demoBasic1="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">修改成功</p>
      </div>
      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="success" outline="true" class="waves-light" mdbWavesEffect data-dismiss="modal"
          (click)="demoBasic1.hide();successUpdate()">确定</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
