<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqjtu.cssl.mapper.ArrangeMapper">
    <select id="getTeachingPlanList" resultType="com.cqjtu.cssl.entity.TeachingPlan">
        select p.pro_id,
               lab_name,
               exp_cname,
               p.course_id,
               exp_major,
               term,
               lab_class,
               exp_time,
               course_college,
               course_type,
               tname,
               t.tid,
               lab_remark,
               campus
        from exp_project p,
             arrange a,
             lab_info l,
             teacher t,
             course c
        where p.pro_id = a.pro_id
          and l.lab_id = a.lab_id
          and t.tid = p.exp_tid
          and p.course_id = c.course_id
          and term = #{term}
    </select>

    <select id="getCoursePeriodByProId" resultType="string">
        select concat(MIN(lab_week), '-', MAX(lab_week))
        FROM exp_project p,
             arrange a,
             arrange_period ap,
             course c
        where p.pro_id = a.pro_id
          and a.aid = ap.aid
          and p.course_id = c.course_id
          and p.pro_id = #{proId}
    </select>


</mapper>
