<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqjtu.cssl.mapper.ArrangeMapper">
    <select id="getTeachingPlanList" resultType="com.cqjtu.cssl.dto.output.TeachingPlan">
        SELECT p.pro_id,
               p.course_id,
               term,
               exp_time,
               course_college,
               course_type,
               tname,
               t.tid,
               c.course_name,
               exp_cname
        FROM exp_project p,
             teacher t,
             course c
        WHERE t.tid = p.exp_tid
          AND p.course_id = c.course_id
    </select>

    <select id="getCoursePeriodByProId" resultType="string">
        select concat(MIN(lab_week), '-', MAX(lab_week))
        FROM exp_project p,
             arrange a,
             arrange_period ap,
             course c
        where p.pro_id = a.pro_id
          and a.aid = ap.aid
          and p.course_id = c.course_id
          and p.pro_id = #{proId}
    </select>

    <select id="getClassByGrade" resultType="com.cqjtu.cssl.entity.Class">
        SELECT *
        FROM `class`
        WHERE grade = #{grade}
    </select>

    <select id="getArrangePeriodByClassId" resultType="com.cqjtu.cssl.entity.ArrangePeriod">
        SELECT *
        FROM arrange_period
        WHERE aid IN (SELECT aid FROM arrange_class WHERE class_id = #{classId})
    </select>


    <select id="getClassByAid" resultType="com.cqjtu.cssl.entity.Class">
        SELECT *
        FROM class
        WHERE class_id IN
              (SELECT class_id FROM arrange_class WHERE aid = #{aid})
    </select>

    <select id="getClassByProId" resultType="com.cqjtu.cssl.entity.Class">
        SELECT *
        FROM class
        WHERE class_id IN
              (SELECT class_id FROM arrange_class WHERE aid = #{aid})
    </select>

    <select id="getClassNameByAid" resultType="java.lang.String">
        SELECT CONVERT(group_concat(class_name) USING utf8mb4) lab_class
        FROM class
        WHERE class_id IN (SELECT class_id FROM arrange_class WHERE aid = #{aid})
    </select>

    <select id="getClassNameByProId" resultType="java.lang.String">
        SELECT CONVERT(group_concat(class_name) USING utf8mb4) lab_class
        FROM class
        WHERE class_id IN (SELECT class_id FROM exp_class WHERE pro_id = #{proId})
    </select>

</mapper>
