<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
        author : rty
        time : 2020/1/*
-->

<mapper namespace="com.cqjtu.cssl.mapper.ClassMapper">

    <!-- 中间，对象的属性和结果集的字段之间的对应关系 -->
    <resultMap id="ClassRM" type="com.cqjtu.cssl.entity.ClassGrade">
        <id property="className" column="class_name"/>
        <result property="majorID" column="major_id"/>
        <result property="classNum" column="class_Num"/>
    </resultMap>

    <!-- 添加班级信息 -->
    <insert id="addClass" parameterType="com.cqjtu.cssl.entity.ClassGrade">
  	insert into class(class_name,major_id,class_num) values(#{className},#{majorID},#{classNum});
  </insert>

    <!-- 通过班级和专业查找班级信息 -->
    <select id="findOneClass" resultType="com.cqjtu.cssl.entity.ClassGrade" resultMap="ClassRM">
  		select * from  class where  class_name=#{arg0} and major_id=#{arg1}
  </select>

    <!-- 通过班级名称和专业修改班级信息 -->
    <update id="updateClass" parameterType="com.cqjtu.cssl.entity.ClassGrade">
        update class set class_num = #{classNum} where major_id=#{majorID} and class_name=#{className}
    </update>

    <!-- 查找所有班级信息 -->
    <select id="findAllClass" resultMap="ClassRM">
        select  * from class
    </select>

    <!-- 通过班级名和专业删除班级信息 -->
    <delete id="deleteClass">
        delete from class where class_name=#{arg0} and major_id=#{arg1}
    </delete>
    <!-- 查找某专业下的所有班级信息 -->
    <select id="findClassByMajor" resultMap="ClassRM">
        select  * from class where major_id = #{majorID}
    </select>
</mapper>
