<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
        author : rty
        time : 2020/1/*
-->

<mapper namespace="com.cqjtu.cssl.mapper.LabInfoMapper">
    <select id="getLabByProId" resultType="com.cqjtu.cssl.entity.LabInfo">
        SELECT lab_id,
               t.tid,
               p.type_id,
               lab_name,
               lab_campus,
               lab_cap,
               lab_area,
               tname,
               type_name
        FROM lab_info p,
             teacher t,
             lab_type q
        WHERE p.tid = t.tid
          AND p.type_id = q.type_id
          AND lab_id = (SELECT lab_id FROM arrange WHERE pro_id = #{proId})
    </select>
</mapper>
