<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
        author : rty
        time : 2020/1/*
-->

<mapper namespace="com.cqjtu.cssl.mapper.ExpProjectMapper">

    <!-- 中间，对象的属性和结果集的字段之间的对应关系 -->
    <resultMap id="ProjectRM" type="com.cqjtu.cssl.entity.ExpProject">
        <id property="proId" column="pro_id"/>
        <result property="labCenName" column="lab_cen_name"/>
        <result property="expCname" column="exp_cname"/>
        <result property="expEqname" column="exp_eqname"/>
        <result property="eqnum" column="eqnum"/>
        <result property="expMajor" column="exp_major"/>
        <result property="ssort" column="ssort"/>
        <result property="expTime" column="exp_time"/>
        <result property="book" column="book"/>
        <result property="software" column="software"/>
        <result property="expTid" column="exp_tid"/>
        <result property="cname" column="cname"/>
        <result property="conName" column="con_name"/>
        <result property="conNum" column="con_num"/>

    </resultMap>

    <!-- 通过主键ID查找实验项目卡片 -->
    <select id="findProjectById" resultType="com.cqjtu.cssl.entity.ExpProject" resultMap="ProjectRM">
       select * from  exp_project where pro_id=#{proId}
   </select>

    <!--  通过项目名查找实验项目卡片 -->
    <select id="findProjectByName" resultType="com.cqjtu.cssl.entity.ExpProject" parameterType="com.cqjtu.cssl.entity.ExpProject" resultMap="ProjectRM">
        select  * from  exp_project where exp_cname like concat(concat('%', #{expCname}), '%')
    </select>

    <!-- 添加实验项目卡片 -->
    <insert id="addProject" parameterType="com.cqjtu.cssl.entity.ExpProject">
        insert into exp_project (pro_id,lab_cen_name,exp_cname,exp_eqname,eqnum,exp_major,ssort,exp_time,book,software,exp_tid,cname,con_name,con_num) VALUES (#{proId},#{labCenName},#{expCname},#{expEqname},#{eqNum},#{expMajor},#{sSort},#{expTime},#{book},#{softWare},#{tId},#{cName},#{conName},#{conNum})
    </insert>

    <!-- 通过ID修改实验项目卡片 -->
    <update id="updateProjectById" parameterType="com.cqjtu.cssl.entity.ExpProject">
        update exp_project set lab_cen_name=#{labCenName},exp_cname=#{expCname},exp_eqname=#{expEqname},eqnum=#{eqNum},exp_major=#{expMajor},ssort=#{sSort},exp_time=#{expTime},book=#{book},software=#{softWare},exp_tid=#{tId} ,cname=#{cName},con_name=#{conName},con_num=#{conNum} where  pro_id=#{proId}
    </update>

    <!-- 通过ID删除实验项目卡片 -->
    <delete id="deleProjectById">
        delete  from exp_project where pro_id=#{proId}
    </delete>

    <!-- 查找所有实验项目卡片 -->
    <select id="findAllProject" resultMap="ProjectRM">
        select  * from exp_project
    </select>
</mapper>
