<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
        author : rty
        time : 2020/1/*
-->

<mapper namespace="com.cqjtu.cssl.mapper.TeacherCourseClassMapper">

    <!-- 中间，对象的属性和结果集的字段之间的对应关系 -->
    <resultMap id="TeacherMajorClassRM" type="com.cqjtu.cssl.entity.TeacherCourseClassHelper">
        <result property="tName" column="tname"/>
        <result property="courseName" column="course_name"/>
        <result property="majorName" column="major_name"/>
        <result property="className" column="class_name"/>
    </resultMap>
    <select id="findALL" resultMap="TeacherMajorClassRM">
        select tname,course_name,major_name,class_name from major m,teachclass tc,teacher t,course c where
        m.major_id = tc.major_id and t.tid = tc.tid and c.course_id = tc.course_id
    </select>
</mapper>
