<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
        author : suwen
        time : 2020/1/*
-->

<!-- 配置命名空间，区别名称 -->
<mapper namespace="com.cqjtu.cssl.mapper.TestFileMapper">

    <!-- 中间，对象的属性和结果集的字段之间的对应关系 -->
    <resultMap type="com.cqjtu.cssl.entity.TestFile" id="fileRM">
        <!-- 主键映射 -->
        <id property="id" column="id"/>

        <!-- 普通字段 property指实体的属性；column结果集的字段名称 -->
        <result property="fileName" column="file_name"/>
        <result property="file" column="file"/>

    </resultMap>

    <!-- 新增 -->
    <insert id="addFile" parameterType="com.cqjtu.cssl.entity.TestFile">
        insert into tbl_test_file(file_name,file)
        values
        (#{fileName},#{file,jdbcType=BLOB})
    </insert>

    <!-- 查询一个，按主键查询 -->
    <select id="loadFileByNo" parameterType="int" resultType="com.cqjtu.cssl.entity.TestFile" resultMap="fileRM">
        select
        *
        from tbl_test_file p
        where p.id= #{id}
    </select>

</mapper>