<!--Section heading-->

<div class="row animated fadeInRight">

    <!--Grid column-->
    <div class="col-lg-5 mt-5 mx-auto">
        <mdb-card cascade="true" narrower="true">
            <!--Card image-->
            <div
                class="view view-cascade gradient-card-header peach-gradient narrower z-depth-2 rounded-lg  py-2 m-3 mt-n4 text-center">
                <div class="m-3">
                    <h4 class="white-text">修改密码</h4>

                </div>
            </div>
            <!--/Card image-->
            <mdb-card-body>
                <!--Body-->
                <div class="md-form">
                    <mdb-icon fas icon="key" class="prefix grey-text"></mdb-icon>
                    <input mdbInput type="text" id="form3" class="form-control">
                    <label for="form3">原始密码</label>
                </div>

                <div class="md-form">
                    <mdb-icon fas icon="key" class="prefix blue-text"></mdb-icon>
                    <input mdbInput type="text" id="form2" class="form-control">
                    <label for="form2">新密码(6-15个字符)</label>
                </div>

                <div class="md-form">
                    <mdb-icon fas icon="key" class="prefix"></mdb-icon>
                    <input mdbInput type="text" id="form32" class="form-control">
                    <label for="form34">确认新密码</label>
                </div>
                <!-- Regular usage -->
                <!-- <re-captcha (resolved)="resolved($event)" siteKey="YOUR_SITE_KEY"></re-captcha> -->


                <div class="text-center">
                    <button mdbBtn class="btn peach-gradient" mdbWavesEffect>确定</button>
                </div>

            </mdb-card-body>

        </mdb-card>
        <!--Form with header-->
        <mdb-card>



        </mdb-card>
        <!--Form with header-->

    </div>
    <!--Grid column-->
</div>