<!-- Footer -->
<footer class="page-footer font-small unique-color-dark mt-5">

  <div style="background-color: #6351ce;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">明德远行，交通天下</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">


          <a class="font-weight-bold mr-3" href="http://www.cqjtu.edu.cn/">
            <img src="../../assets/img/cqjt.png" id="img2" /></a>
          <a class="font-weight-bold mr-5" href="http://sise.cqjtu.edu.cn/">
            <img src="../../assets/img/information.png" id="img1" /></a>
          <a class="font-weight-bold mr-5" href="http://www.baidu.com/">
            <img src="../../assets/img/baidu.ico" id="img3" /></a>
          <mdb-icon fab icon="qq" class="fa-lg cyan-text mr-4"></mdb-icon>
          <!-- Twitter -->
          <mdb-icon fab icon="twitter" class="white-text mr-4 fa-lg"></mdb-icon>
          <!--Linkedin -->
          <a href="https://github.com/">
            <mdb-icon fab icon="github" class="mr-4 fa-lg text-black-50"></mdb-icon>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class=" text-center text-md-left mt-5 ">

    <!-- Grid row -->
    <div class="row mt-3 mr-0 ">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">友情声明：</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>本网站美化集于MDBootstrap.com,Github资源，国内各网站、各码友，欢迎指点，侵权删，联系技术支持。
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">友情链接</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="http://civil.cqjtu.edu.cn/">土木工程学院</a>
        </p>
        <p>
          <a href="http://hhxy.cqjtu.edu.cn/">河海学院</a>
        </p>
        <p>
          <a href="http://jtys.cqjtu.edu.cn/">交通运输学院</a>
        </p>
        <p>
          <a href="http://ssna.cqjtu.edu.cn/">航运与船舶工程学院</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">教务系统</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="http://jwgl.cqjtu.edu.cn/jsxsd/">教学管理系统(师生入口)</a>
        </p>
        <p>
          <a href="http://jwgl.cqjtu.edu.cn/">教学管理系统(管理入口)</a>
        </p>
        <p>
          <a href="http://cqjtu.fanya.chaoxing.com/portal">在线学习中心</a>
        </p>
        <p>
          <a href="http://sjjx.cqjtu.edu.cn/aexp/">实验教学管理系统</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" >

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">联系我们</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <mdb-icon fas icon="home" class="mr-2"></mdb-icon>地址：重庆交通大学南岸校区计算机语音楼九楼
          <p>
            <mdb-icon fas icon="envelope" class="mr-2"></mdb-icon>邮政编码：400074
          </p>
          <p>
            <mdb-icon fas icon="phone" class="mr-2"></mdb-icon>电话：023-62652751
          </p>
          <p>
            <mdb-icon fas icon="print" class="mr-2"></mdb-icon>技术支持：1370228031@qq.com
          </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> 重庆交通大学信息科学与工程学院</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->